@import 'GlobalStyles/Variables.scss';

.App {
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    width: 100%;
  }
}
