@import 'GlobalStyles/Variables.scss';

// DEFAULT
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  counter-reset: section;

  // min-height: 100vh;
}

//TYPOGRAPHY
%heading {
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 3.5rem;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 2.5rem;
  line-height: 1;
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
}

.btn {
  background-color: var(--color-grey-dark-2);
  color: #fff;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.1s;
  margin: 0.5rem;

  &:hover {
    background-color: black;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.95);
  }
}

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
