.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  &__card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    min-width: 20rem;
    max-width: 55rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    &-closeBtn {
      align-self: flex-end;
    }
  }
}
