.settings {
  padding: 4rem;

  label {
    font-size: 1.3rem;
  }
  &__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .requirements {
      color: red;
      font-size: 1.1rem;
      font-style: italic;
    }

    &-input {
      font-family: inherit;
      color: inherit;
      background-color: var(--color-grey-light-2);
      border: none;
      padding: 0.7rem 2rem;
      transition: all 0.2s;
      width: 20rem;

      &:focus {
        outline: none;
        background-color: var(--color-grey-light-3);
      }

      &::-webkit-input-placeholder {
        font-weight: 100;
        color: var(--color-grey-light-4);
      }
    }
  }
  &__district {
    display: flex;
    justify-content: space-between;

    &-input {
      @extend .settings__numbers-input;
    }
  }
  &__checkboxes {
    display: flex;
    align-items: center;

    &-radio {
      display: flex;
      flex-direction: column;
      label {
        margin: 0.5rem;
      }
    }
  }
}
