.candidatesTable {
  label {
    font-size: 1.3rem;
    font-weight: 700;
    small {
      font-weight: 400;
    }
  }

  &__table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    &-input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      border: 0.05rem solid gray;
      padding: 0.7rem 2rem;
      width: 90%;
      transition: all 0.2s;
      float: left;
    }

    tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: 0.35rem;

      .firstCol {
        width: 10%;
      }
    }
    th,
    td {
      padding: 0.625rem;
      text-align: center;
    }

    th {
      font-size: 0.85rem;
      letter-spacing: 0.1rem;
    }
  }

  &__numbers {
    display: flex;
    align-items: center;
  }
}
