.boxProtocolForm {
  padding: 4rem;
  &__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    label {
      font-size: 1.3rem;
      width: 50%;
      font-weight: 700;
      small {
        font-weight: 400;
      }
    }

    &-input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: var(--color-grey-light-2);
      border: none;
      padding: 0.7rem 2rem;
      width: 50%;
      transition: all 0.2s;
      align-self: flex-start;
      &:disabled {
        background-color: var(--color-grey-light-4);
      }
      &:focus {
        outline: none;
        width: 51%;
        background-color: var(--color-grey-light-3);
      }

      &::-webkit-input-placeholder {
        font-weight: 100;
        color: var(--color-grey-light-4);
      }
    }
  }
}
