.names {
  padding: 4rem;
  &__table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    .remove-btn__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-left: 2rem;
      fill: var(--color-primary-dark);
      cursor: pointer;
      transition: all 0.1s;

      &:active {
        transform: scale(0.95);
      }

      &:hover {
        fill: var(--color-primary-light);
      }
    }

    &-input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      border: 0.05rem solid gray;
      padding: 0.7rem 2rem;
      width: 90%;
      transition: all 0.2s;
      float: left;
    }

    caption {
      font-size: 1rem;
      margin: 0.5rem 0 0.75rem;
    }

    tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: 0.35rem;

      .firstCol {
        width: 10%;
      }
    }
    th,
    td {
      padding: 0.625rem;
      text-align: center;
    }

    th {
      font-size: 0.85rem;
      letter-spacing: 0.1rem;
    }
  }
}
