.table {
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  caption {
    font-size: 1rem;
    margin: 0.5rem 0 0.75rem;
  }

  tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35rem;

    .firstCol {
      width: 10%;
    }
  }
  th,
  td {
    padding: 1.2rem;
    text-align: left;

    .remove-btn__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-left: 2rem;
      fill: var(--color-primary-dark);
      cursor: pointer;
      transition: all 0.1s;

      &:active {
        transform: scale(0.95);
      }

      &:hover {
        fill: var(--color-primary-light);
      }
    }
  }

  th {
    letter-spacing: 0.1rem;
  }
}
